/*!
Theme Name: Weltladen Wasserburg Theme
Theme URI: http://underscores.me/
Author: Peter Sterr
Author URI: http://www.petersterr.de
Description: Theme für den Weltladen Wasserburg
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: weltladen-wasserburg
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Weltladen Wasserburg Theme is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/* === IMPORTS === */
@import "assets/css/bootstrap.min.css";
@import "assets/css/font-awesome/css/font-awesome.min.css";
/* === FONTS === */
/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('fonts/montserrat-v25-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/montserrat-v25-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #F78C2A;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11111%;
}

.gallery-caption {
	display: block;
}

/*COLOUR REFERENCES
Blue:       #21759B
Grey:       #F5F5FA

Orange:     #F78C2A
White:      #FFFFFF
Whitegrey:  #F0F0F0
Lightgrey:  #B2B3B5
Darkgrey:   #707173
Black:      #000000
*/
/* === IMPORTS === */
@import "bootstrap.min.css";
@import "font-awesome/css/font-awesome.min.css";

/* === GENERAL === */

html, body { overflow-x: hidden; }

body {
    margin-top: 0px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 16px;
}

h1, h1, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1, h2 {
    margin: 0 0 40px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px
}

h4 i {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

p {
    margin: 0 0 15px;
    line-height: 1.7;
}

p.lead {
    font-weight: normal;
}

a:link, a:visited {
    color: #F78C2A
}

a:hover {
    text-decoration: none;
    color: #B2B3B5;
    background-color: transparent !important;
    border-bottom: none;
}

li.menu-item {
    margin-right: 0px;
}

ul.nav {
    padding-top: 15px;
}

a.menu-image-title-hide {
    padding-top: 0px !important;
}

button, input, .btn, a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: white;
}

.btn {
    font-weight: bold;
}

button.btn:focus {
    outline: none !important;
}

.btn-danger {
    background-color: #dd5638;
    border-collapse: #d95131;
}

.btn-success {
    background-color: #79b044;
    border: none;
}

.btn-success:hover {
    background: #6a9b3d;
    border-color: #6a9b3d;
}

img {
    max-width: 100%;
}

.modal-content {
    background: url('../img/tile.jpg') top left repeat;
}

blockquote {
    padding: 0;
    border: 0;
    font-style: italic;
    text-align: left;
}

blockquote cite {
    display: block;
    color: #777;
    margin: 15px 0 0 0;
}

blockquote:before {
    display: none;
}

/* === LAYOUT === */
.container-fluid {
    padding: 0;
}

.row + .row {
    background: transparent;
}

section {
    padding: 0 0 20px 0;
}

.section-header {
    text-align: center;
}

section h2 {
    margin: 30px 0 20px 0;
    color: black;
}

section h3 {
    margin: 25px 0 10px 0;
    color: #707173;
}

section h4 {
    margin: 30px 0 55px;
}

.navbar.navbar-fixed-top {
    background-color: white;
    height: 105px;
    opacity: 0.95;
}

.navbar.navbar-fixed-top.shrink {
    height: 60px;
}

ul.nav {
    padding-top: 10px;
}

.navbar-nav>li>a {
    padding-top: 35px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-logo {
    margin-right: 15px;
}

.menu-image-title-hide.shrink>img {
    width: 90px;
    height: 43px;
}

.navbar-collapse>ul>li>a {
    color: #707173;
}

.navbar-collapse>ul>li>a:focus {
    color: #707173;
}

.navbar-collapse>ul>li>a:hover {
    color: #F78C2A;
}

.navbar-nav.shrink>li>a {
    padding-top: 12px;
}

.current-menu-item>a {
    color: #B2B3B5!important;
}

.navbar-toggle {
    border-color: #B2B3B5;
    margin-right: 25px;
}

.navbar-toggle .icon-bar {
    background-color: #B2B3B5;
}

.fa.social {
    color: white;
    font-size: 24px;
}

.fa {
    color: #F78C2A;
}

.subtitle {
    margin-top: -20px;
}

.carousel-indicators>li {
    background-color: #F78C2A;
    border-width: 1px;
}

.carousel-control .glyphicon-chevron-right {
   color: white;
   font-size: 64px;
}

.carousel-control  .glyphicon-chevron-left {
    color: white;
    font-size: 64px;
}

.carousel-caption {
    background-color: #F78C2A;
    opacity: 0.9;
    right: 0;
    left: 0;
    top: 0px;
    height: 80px;
    font-size: 28px;
}

/* PARALLAX */
.parallax-section {
    position: relative;
    min-height: 400px;
    background-size: cover!important;
    padding: 0;
}

.parallax-section.home {
    min-height: 700px;
}

.parallax-section-small {
    min-height: 300px;
}

.mobile-logo {
    margin: 5px 0 0 20px;
    display: none;
}

/* AUFMACHER */
.aufmacher-text {
    position: absolute;
    bottom: 22%;
    font-size: 40px;
    color: #FFFFFF;
    background-color: #F78C2A;
    opacity: 0.95;
    padding: 20px 30px 20px 20px;
    font-weight: bold;
}

.parallax-section.home>.aufmacher-text {
    bottom: 35%;
}

/* VORSTAND */
.figure-section {
    background-color: #F0F0F0;
}

.figure-section-image-container {
    text-align: center;
}

.figure-section-image-figure-caption {
    margin: 20px 0px 30px 0px;
}

.figure-section-satzung-container {
    text-align: center;
}

.figure-section-satzung {
    font-size: 22px;
}

/* PROJEKTE */
.projekte-section {
    margin: 0 0 30px 0;
}

/* PRODUKTE */
.produkte-section {
    background-color: #F0F0F0;
}

/* TEASER */
.teaser-section {
    padding: 20px 0;
    background-color: white;
}

.teaser-item {
    border: none;
}

.teaser-button {
    color: white;
    background-color: #F78C2A!important;
    border-radius: 0px;
}

.teaser-button:hover {
    color: white;
    background-color: #f0ad4e!important;
}

/* NEWSTEASER */
.newsteaser-section {
    padding: 20px 0;
    background-color: white;
}

.section-headline {
    margin: 10px 0 20px 0;
}

.newsteaser {
    margin: 20px 0;
}

.newsteaser-image-col {
    padding-left: 0;
}

.newsteaser-image-col>img {
    height: auto;
}

.newsteaser-headline {
    margin: 5px 0 20px 0;
}

/* PARTNER und IDEE */
.more-panel {
    margin: 15px 0 15px 0!important;
}

.more-panel>.panel-heading {
    background-color: transparent;
}

.more-panel>.panel-heading>.panel-title {
    font-size: 18px;
}

.more-panel>.panel-heading>.panel-title>a:focus {
   text-decoration: none;
}

.more-panel.partner-panel {
    margin: 30px 0 0 0!important;
}

/* LADEN */
.laden-text-container {
    text-align: center;
}

/* AKTUELLES */
.post {
    border-bottom: 1px solid #B2B3B5;
}

.news-header {
    margin: 0 0 20px 0;
}

.news-excerpt {
    margin: 20px 0;
}

.news-details>span {
    margin-right: 10px;
}

.news-image img {
    height: auto;
}

.nav-previous {
    margin-bottom: 20px;
}

.nav-next {
    margin-bottom: 20px;
}

.news-single-container {
    margin-top: 100px;
}

.news-back-link {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.news-main {
    margin-top: 20px;
}

/* SIMPLE SECTION */
.simple-section-content {
    margin-top: 25px;
}

/* FOOTER */
footer {
    background-color: #F78C2A;
    color: white;
    padding: 20px 0 0px 0;
}

.footer-social-container {
    text-align: center;
}

.footer-social-list {
    margin: 20px 0;
    padding: 0;
}

.footer-social-link {
    list-style: none;
}

.footer-social-link>a {
     color: white;
}

.footer-social-link>a:hover {
    text-decoration: underline;
}

.footer-imprint-row {
    font-size: 14px;
    padding: 0 20px;
}

.footer-imprint-row-links {
    text-align: right;
}

.footer-imprint-row-links>div>ul {
    list-style-type: none;
}

.footer-imprint-row-links>div>ul>li {
    display: inline;
}

.footer-imprint-row-links>div>ul>li>a {
    color: white;
    text-decoration: underline;
    margin: 0 0 0 10px;
}

.footer-imprint-row-links>div>ul>li.current-menu-item>a {
    color: white!important;
}

.scroll-back-to-top-inner>.fa {
    color: white;
}

/* === MEDIA QUERIES === */

@media screen and ( max-width: 991px) {

}

@media screen and ( max-width: 820px ) {
    .navbar-logo{
        display: none!important;
    }
    .menu-item-object-custom {
        display: none!important;
    }
    .navbar.navbar-fixed-top {
        height: 50px;
    }
    .navbar-collapse {
        background-color: white;
        max-height: 600px!important;
    }
    .navbar-collapse>ul>li>a {
        padding: 10px 15px;
    }
    .aufmacher-text {
        border-radius: 0;
        width: 100%;
        bottom: 15%;
        font-size: 35px;
        color:
        opacity: 0.9;
        padding: 10px 10px 10px 20px;
    }
    .parallax-section.home>.aufmacher-text {
        bottom: 15%;
    }
    .mobile-logo {
        display: inline;
    }
    .parallax-section {
        min-height: 300px;
    }
    .parallax-section.home {
        min-height: 300px;
    }
    .parallax-section-small {
        display: none;
    }
    .news-single-container {
        margin-top: 50px;
    }
    .laden-text-container {
        margin-top: 30px;
    }
    .col-sm-6, .col-md-8 {
        padding-top: 10px;
    }
    .carousel-caption {
        height: 40px;
        font-size: 18px;
        padding-top: 8px;
    }
    .carousel-control .glyphicon-chevron-right {
        font-size: 44px;
    }

    .carousel-control  .glyphicon-chevron-left {
        font-size: 44px;
    }
}

@media screen and ( max-width: 568px ) {

}
